<div class="master-container justified">
    <div class="justified">
        <button class="button" routerLink="/join-page">Joindre</button>
        <button class="button" routerLink="/create-game">Créer</button>
        <button class="button" routerLink="/admin">Admin</button>
    </div>
    <footer class="footer-item">
        <h4 class="team-name">Équipe 306</h4>
        <p><span>Abdel</span>, <span>Gabriel</span>, <span>Julien</span>, <span>Pascale</span>, <span>Ralph</span></p>
    </footer>
</div>
